<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NetworkSharePath" value="\\192.168.10.212\FileSystem\Data\ow_tro\fmd/pdf" />
		<add key="FileExtension" value=".pdf" />
		<add key="FileNamePrefix" value="00" />
		<add key="FromEmail" value="it@troptical.com" />
		<add key="FromEmailPassword" value="241007sS" />
		<add key="ToEmail" value="fmd-franchise@optovision.de" />
		<add key="ReminderToEmail" value="444325905@qq.com" />
		<add key="SmtpServer" value="s48.cn4e.com" />
		<add key="SmtpPort" value="25" />
		<add key="EnableSsl" value="false" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
